.timer-container{
  width: 10rem;
  padding: 1rem;
  margin: 2rem 2rem 0 2rem;
  background-color: rgba(18, 68, 130, 0.9);
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.timer-container__timer{
  margin: 0;
  color: white;
  font-size: 2rem;
}

.timer-container__button-plus,
.timer-container__button-minus {
  text-align: center;
}

.button-plus__minutes,
.button-plus__seconds,
.button-minus__minutes,
.button-minus__seconds {
  background-color: rgba(131, 168, 213, 0.9);
  border-radius: 10px;
  margin: 0 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: none;
  font-size: 1.5rem;
  text-align: center;
}

.button-plus__minutes:hover,
.button-plus__seconds:hover,
.button-minus__minutes:hover,
.button-minus__seconds:hover {
  filter: brightness(120%);
  cursor: pointer;
}