.timer-container{
  padding: 1rem;
  margin: 2rem 2rem 0 2rem;
  background-color: rgba(18, 68, 130, 0.9);
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.timer-container__timer{
  margin: 0;
  color: white;
  font-size: 2rem;
}